/*
.left{
    float: left;
    width:850px ;
    height: 850px;
    display: block;
}
.right{
    float: right;
    width: 850px;
    height: 850px;
    display: block;
 
    }
    .image-container img:hover {
        content: url('image3.png');
      }
      .image-containero img:hover {
        content: url('image4.png')
      }
      */
/* Default styles for the images */


body, html {
	margin: 0;
	padding: 0;
  	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}

.left {
    float: left;
    width: 100%;
    height: 100vh;
    display: block;
}

.right {
    float: right;
    width: 100%;
    height: 100vh;
    display: block;
}

/* Media query for screens smaller than 768px */
@media only screen and (max-width: 768px) {

    .image-container,
    .image-containero {
        width: 100%;
    }

    .left,
    .right {
        float: none;
        width: 100%;
        height: 100%;
    }
}

/* Media query for screens larger than 768px */
@media only screen and (min-width: 769px) {
    .image-container {
        width: 50%;
        float: left;
    }

    .image-containero {
        width: 50%;
        float: right;
    }
}

.image-container img:hover {
    content: url('../images/image3.png');
}

.image-containero img:hover {
    content: url('../images/image4.png');
}